* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* font-family: 'Montserrat'; */
}

.showpopup
{
  z-index: 10;
  display: block;
}

.hidepopup
{
  z-index: 10;
  display: none;
}

a {
  color: #7f8db0;
}
.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 0 !important;
  padding-bottom: 26px !important;
}
.wrapper {
  width: 100%;
  height: 100%;
}

.navbar {
  background: #fff;
  width: 100%;
  height: 60px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
}
.nav{
  margin-left: auto;
  margin-right: 28px;
  font-size: 14px;
}
.navbar .navbar_left .logo a {
  font-family: 'Trade Winds';
  font-size: 20px;
}

.navbar .navbar_right {
  display: flex;
  border-left: 1px solid #000000;
  padding-left: 33px;
}

.navbar .navbar_right img {
  width: 35px;
}

.navbar .navbar_right .icon_wrap {
  cursor: pointer;
}

.navbar .navbar_right .notifications {
  margin-right: 25px;
}

.navbar .navbar_right .notifications .icon_wrap {
  font-size: 28px;
}

.navbar .navbar_right .profile,
.navbar .navbar_right .notifications {
  position: relative;
}

.navbar .profile .profile_dd,
.notification_dd {
  position: absolute;
  top: 48px;
  right: -15px;
  user-select: none;
  background: #fff;
  border: 1px solid #c7d8e2;
  width: 350px;
  height: auto;
  display: none;
  border-radius: 3px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
    -10px -10px 35px rgba(0, 0, 0, 0.125);
}

.navbar .profile .profile_dd:before,
.notification_dd:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 15px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.notification_dd li {
  border-bottom: 1px solid #f1f2f4;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.notification_dd li .notify_icon {
  display: flex;
}

.notification_dd li .notify_icon .icon {
  display: inline-block;
  background: url('https://i.imgur.com/MVJNkqW.png') no-repeat 0 0;
  width: 40px;
  height: 42px;
}

.notification_dd li.baskin_robbins .notify_icon .icon {
  background-position: 0 -43px;
}

.notification_dd li.mcd .notify_icon .icon {
  background-position: 0 -86px;
}

.notification_dd li.pizzahut .notify_icon .icon {
  background-position: 0 -129px;
}

.notification_dd li.kfc .notify_icon .icon {
  background-position: 0 -178px;
}

.notification_dd li .notify_data {
  margin: 0 15px;
  width: 185px;
}

.notification_dd li .notify_data .title {
  color: #000;
  font-weight: 600;
}

.notification_dd li .notify_data .sub_title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.notification_dd li .notify_status p {
  font-size: 12px;
}

.notification_dd li.success .notify_status p {
  color: #47da89;
}

.notification_dd li.failed .notify_status p {
  color: #fb0001;
}

.notification_dd li.show_all {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.notification_dd li.show_all p {
  font-weight: 700;
  color: #3b80f9;
  cursor: pointer;
}

.notification_dd li.show_all p:hover {
  text-decoration: underline;
}

.navbar .navbar_right .profile .icon_wrap {
  display: flex;
  align-items: center;
}

.navbar .navbar_right .profile .name {
  display: inline-block;
  margin: 0 10px;
}


.navbar .navbar_right .profile.active .icon_wrap,
.navbar .navbar_right .notifications.active .icon_wrap {
  color: #3b80f9;
}

.navbar .profile .profile_dd {
  width: 225px;
}

.navbar .profile .profile_dd:before {
  right: 10px;
}

.navbar .profile .profile_dd ul li {
  border-bottom: 1px solid #f1f2f4;
}

.navbar .profile .profile_dd ul li a {
  display: block;
  padding: 15px 35px;
  position: relative;
}

.navbar .profile .profile_dd ul li a .picon {
  display: inline-block;
  width: 30px;
}

.navbar .profile .profile_dd ul li a:hover {
  color: #3b80f9;
  background: #f0f5ff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar .profile .profile_dd ul li.profile_li a:hover {
  background: transparent;
  cursor: default;
  color: #7f8db0;
}

.navbar .profile .profile_dd ul li .btn {
  height: 32px;
  padding: 7px 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  background: #3b80f9;
  width: 125px;
  margin: 5px auto 15px;
}

.navbar .profile .profile_dd ul li .btn:hover {
  background: #6593e4;
}

.navbar .profile.active .profile_dd,
.navbar .notifications.active .notification_dd {
  display: block;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  display: none;
}

.popup .shadow {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

.popup .inner_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.popup .notification_dd {
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
}

.popup .notification_dd:before {
  display: none;
}

.popup .notification_dd li.title {
  font-weight: 700;
  color: #3b80f9;
  display: flex;
  justify-content: center;
  position: relative;
}

.popup .notification_dd li.title .close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title .close:hover {
  opacity: 0.5;
}

/* center buttons */



/* responsive */
.humbarger {
  margin-right: 20px;
  display: none;
}

.humbarger .bar {
  width: 30px;
  height: 2px;
  margin: 7px;
  background: #b1d4e0;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.nav-links {
  margin: 0;
  float: right
}

.nav-links .nav-item {
  position: relative;
  list-style: none;
  float: left
}

.nav-links .nav-item .nav-link {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

.menu-show,
.menu-hide {
  transition: .4s;
  font-size: 30px;
  cursor: pointer;
  display: none
}
.nav-links{
  z-index: 1;
}
.menu-show {
  margin: 0;
  margin-left: auto;
}
.nav-item{
  font-weight: normal;
}
.logo img {
  width: 75px;
  height: 28px;
}
.nav-links .nav-item .nav-link{
  color: black !important;
}
.nav-links .nav-item .nav-link:hover {
  color: rgb(236, 236, 54) !important;
}

#menu-toggle {
  position: absolute;
  visibility: hidden;
  z-index: -1
}

@media (min-width: 958px) {
  .has-dropdown ul {
    position: absolute;
    left: inherit;
    top: 100%;
    width: 270px;
    padding: 0;
    border: unset;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .05), -2px 0 5px 1px rgba(0, 0, 0, .05);
    -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .05), -2px 0 5px 1px rgba(0, 0, 0, .05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .05), -2px 0 5px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .05), -2px 0 5px 1px rgba(0, 0, 0, .05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .05), -2px 0 5px 1px rgba(0, 0, 0, .05);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .has-dropdown:hover ul {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    display: block !important
  }

  .has-dropdown ul li {
    width: 100%;
    position: relative;
    display: block;
    line-height: 24px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    color: #222;
    border-bottom: 1px solid rgba(34, 34, 34, .1);
    text-align: left;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
  }

  .has-dropdown ul li a {
    position: relative;
    display: block;
    padding: 15px 30px !important;
    line-height: 24px;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(34, 34, 34, .1);
    text-align: left;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
  }
}

@media (max-width:957px) {

  .menu-show,
  .menu-hide {
    display: block;
  }

  .nav-links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    padding: 50px 0;
    transition: 1s;
    background: #fff;
  }

  .nav-links .nav-item {
    width: 100%
  }

  .nav-links .nav-item .nav-link {
    padding: 15px;
    text-align: center;
  }

  .menu-hide {
    position: absolute;
    top: 15px;
    right: 20px
  }

  #menu-toggle:checked~.nav .nav-links {
    left: 0
  }

  .has-dropdown ul {
    display: none
  }

  .dropdown-menu {
    margin: 0;
    padding: 0;
    border: 1px solid #0000001c;
    flex-direction: column;
  }

  .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #0000001c;
  }

  .nav-links .has-dropdown .dropdown-menu .nav-link {
    font-size: 13px
  }
}
.hide{
  display: none;
}




@media only screen and (max-width: 957px) {

  .parentDiv,
  .notifications,
  .profile {
    display: none;
  }
  .hide{
    display: block;
  }

  .humbarger {
    display: block;
  }
}