.filters-div
{
  margin: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 0.5rem;
  grid-auto-flow: row dense; 
  margin-bottom: 5vh;
}

.filters-div > *
{
  padding: 0.5rem;
  border:#d2cfcf solid 1px;
  border-radius: 5px;
   white-space: nowrap;
}

.filters-div > :first-child
{
   grid-column: span 2;
}

.filters-options-div
{ 
	display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap:.5rem;
    grid-auto-flow: row dense;
    padding: 0.6rem;
}
.filters-options-div >*
{
  padding: .6rem;
  border:#d2cfcf solid 1px;
  border-radius: 3px;

}
.location-options
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: row dense; 
  border:none;
  grid-gap:.5rem;
}

.location-options > *
{
	padding:.7rem;
}
.location-options :first-child
{
	  border:#d2cfcf solid 1px;
	  border-radius: 3px;
}


.location-options > *:not(:first-child)
{
 grid-column: span 2;
}




.background-yellow
{
	background-color: #ffb700;
	border-color:  #ffb700;
}
.background-yellow>*
{	 transition: all;
	transition-duration: .3s;
	transform: rotate(180deg);
}

.dummy>*
{   transition: all;
	transition-duration: .3s;
	transform: rotate(0);
}