.filters-div
{
  margin: 0 20px;
  display:flex;
  flex-wrap: wrap;
  row-gap: .5rem;
  column-gap:.5rem;
  padding: .6rem;
  margin: 0 30px;
  padding-left: 0;
}

.filters-div > *
{
  padding: 0.5rem;
  border:#d2cfcf solid 1px;
  border-radius: 5px;
   white-space: nowrap;
}

.filters-div > :first-child
{
   flex-grow: 1;
}

.filters-options-div
{ 
	 display:flex;
  flex-wrap: wrap;
  row-gap: .5rem;
  column-gap:.5rem;
   /* grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap:.5rem;
    grid-auto-flow: row dense;*/
    padding: 0.6rem;
}
.filters-options-div > *
{
  padding: .4rem 1.5rem;
  border:#d2cfcf solid 1px;
  border-radius: 3px;
  text-align: center;

}
.location-options
{
  display: flex;
  flex-wrap: wrap;
  row-gap: .5rem;
  column-gap:.5rem;
  width: 100%;
  border: none;
  padding: 0;

 
}

.location-options > *
{
	padding: .4rem 1.5rem;
}
.location-options :first-child
{
	  border:#d2cfcf solid 1px;
	  border-radius: 3px;
}


.location-options > *:not(:first-child)
{
 flex-grow: 1;
 border-radius: 3px;
}
.background-yellow
{
	background-color: #ffb700;
	border-color:  #ffb700;
}
.background-yellow>*
{	 transition: all;
	transition-duration: .3s;
	transform: rotate(180deg);
}

.dummy>*
{   transition: all;
	transition-duration: .3s;
	transform: rotate(0);
}