.Details{
  display: flex;
  margin-left: 80px;
}
.Details_header{
  font-family: 'Lato';
  display: flex;
}
.details_left {
  margin-right: 50px;
  margin-left: 30px;
  width: 450px;
}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.react-slideshow-container .nav.default-nav svg {
  width: 15px;
  height: 12px;
}
.nav.default-nav{
  width: 21px;
  height: 21px;
}
.autoplay-buttons {
  display: flex;
  justify-content: center;
  margin-right: 36px;
}
img.indicator_img {
  margin: 0 5px;
  border-radius: 5px;
  margin-top: -36px;
  z-index: 1;
  border: 1px solid white;
}
.slideshow {
  width: 430px;
}
.each-slide{
  border-radius: 5px;
}
.slideshow_img{
  border-radius: 5px;
}
.header_logo {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
.card_title {
  margin-left: 5px;
}
.box-title {
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 1em;
  font-size: 20px;
}
small {
  font-size: 70%;
  font-weight: 400;
}
.text-header {
  display: -webkit-box;
  display: flex;
  justify-content: center;
}
.price_row{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.range_explain{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.small_price{
  font-size: 7px;
}
.price{
  font-size: 15px;
}
.per_row{
  display: flex;
  justify-content: space-around;
  background-color: #FFF9E8;
  border-radius: 5px;
  padding: 10px;
}
.small_per{
  font-size: 7px;
}
.per{
  font-size: 15px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.choose_slider{
  display: flex;
  justify-content: center;
  font-size: 19px;
  background-color: #FFF9E8;
  border-radius: 5px;
  padding: 10px;
}
.choose_slider {
  display: block;
}
.small.title_slider {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}
small.title_slider {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
button.login_button {
  padding: 8px 14px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #FDC424;
  font-size: 10px;
  margin-right: 8px;
  margin-top: 5px;
}
button.login_button:hover {
  background-color:#FDC424;
  border: 1px solid white;
}
svg.heart {
  stroke: black;
}
svg.svg-icon {
  stroke: black;
  z-index: 1;
  width: 20px;
  height: 20px;
}
.add_to_list {
  display: flex;
  margin: 4px 10px;
  padding: 5px;
  border-radius: 5px;
}
.add_to_list:hover{
  background-color: #efefef ;
}
.buttons_row {
  display: flex;
  justify-content: space-around;
}
.MuiSlider-root {
  padding: 0 !important;
}
.Header_footer_left {
  display: flex;
}
.Details_Header_Footer {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  opacity: 0.6;
}
p.Header_disabled {
  margin-left: 13px;
}
.Header_footer_right {
  display: flex;
  margin-right: 20px;
}


/* .side_button{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .side_button_wrapper {
    position: relative;
    display: block;
} */

.button_hover{
  display: block;
  width: 150px;
  margin-right: 30px;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  text-decoration: none;
  background: #fff;
  text-align: center;
  color: #1F1F1F;
/*   text-transform: uppercase; */
  letter-spacing: 1px;
/*   border: 3px solid #333; */
  transition: all .5s;
}

.button_hover:hover{
  width: 150px;
  margin-left: 30px;
  margin-right: 0;
  border: 3px solid #FDC424;
  background: #FDC424;
  color: #fff;
  border-radius: 10px;
}


@media (max-width:1200px){
  .Details{
    display: flex;
    margin-left: 10px;

  }
  .details_left {
    margin-right: 15px;
    margin-left: 10px;
    width: 450px;
}
} 

@media (max-width:1120px){
  .details_left {
    margin-right: 15px;
    margin-left: 0px;
    width: 400px;
  }
}
@media (max-width:1120px){
  .slideshow {
    width: 400px;
  }
}
@media (max-width:1020px){
  .slideshow {
    width: 350px;
  }
}
@media (max-width:950px){
  .details_left {
    margin-right: 10px;
    margin-left: 0px;
    width: 380px;
  }
}
@media (max-width:920px){
  .details_left {
    width: 352px;
  }
}